body{
  margin: auto;
  max-width: 780px;
  min-width: 320px;
}
header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #29bde0;
  color: #fff;
  border-bottom: 1px solid #fff;
  img{
    margin: 0 5px 0 5px;
  }
}
main{
  height: 85vh;
  padding-top: 20px;
  text-align: center;
  background-color: #29bde0;
  p{
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 20px;
    background-color: #fff;
    border: solid #ffedc5;
    margin: auto;
    line-height: 36px;
    color: #fe6712;
  }
  .image-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: -20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #ffedc5;
    height: 35rem;
  }
  #civilian{
    line-height: 3.5rem;
    color: #fe6712;
    border-top: solid#fff;
  }
  span{
    color: #26a26f;
  }
}
footer{
  width: 100%;
  max-width: 780px;
  min-width: 320px;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 25px 0;
  background-color: #29bde0;
  button{
    width: 76%;
    height: 50px;
    outline: none;
    border: 1px solid #ffa500;
    font-size: 25px;
    color: #fff;
    background: #ffa600;
    cursor: pointer;
  }
}