body{
    margin: 0;
}
.text-box {
    display: none;
}
@media screen and (max-width: 780px){
    .text-box {
        display: block;
    }
    .head-box {
        display: none;
    }
}
.head-bot{
    background-color: #26a26f;
}
.nav-link{
    text-align: center;
}
.text-bot{
    justify-content: flex-end;
}
.carousel-indicators li{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin: 2px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #ffffff;
}
.main-box{
    height: 10vw;
}