.flex-box-style-1 {
  display: flex;
  align-items: center;
}
body{
  margin: 0 auto;
  background-color: white;
  max-width: 780px;
  min-width: 320px;
}
header{
  background-color: #1ba2ea;
  height: 50px;
  @extend .flex-box-style-1;
  color: white;
  img{
    height: 18px;
    margin: 0 20px;
  }
  span{
    margin: 0 20px;
  }
}
main{
  padding-top: 10px;
  background-color: #eff0f4;
 .box{
   height: 50px;
   @extend .flex-box-style-1;
   background-color: white;
  }
  img{
    padding: 0 20px;
  }
  .box-one{
    height: 30px;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    border-left: 1px solid #dddddd;
    padding-left: 30px;
  }
}
.box-zero{
  height: 50px;
  @extend .flex-box-style-1;
  background-color: white;
  border-top: 3px solid #eff0f4;
  img{
    padding: 0 15px;
  }
}
.box-text{
  height: 50px;
  background-color: #1ba2ea;
  text-align: center;
  line-height: 50px;
  color: white;
  border-radius:10px;
  margin: 15px 10px 0 10px;
}
.text-one{
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  margin: 0 10px 0 10px;
span{
  color: #999;
}
}
.text-lg{
  @extend .flex-box-style-1;
  justify-content: center;
  .text-l{
    width: 90px;
    height: 2px;
    border-top: 1px solid #dddddd;
  }
}
footer{
  @extend .flex-box-style-1;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  background-color:#eff0f4 ;
  padding-bottom: 200px;
  .weibo{
    margin: 0 14px 0 14px;
  }
}