body {
  margin: auto;
  max-width: 780px;
  min-width: 320px; }

.flex-box-style-1, header .page-header, header .employer, header .workers {
  display: flex;
  align-items: center; }

header {
  width: 100%;
  margin: auto;
  max-width: 780px;
  min-width: 320px;
  position: fixed;
  top: 0;
  background: #f8fafb; }
  header .page-header {
    justify-content: space-between;
    background-color: #68cdd5;
    height: 55px; }
  header .employer {
    justify-content: center;
    background-color: #6f8e8b;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    margin-left: -38px;
    margin-top: -18px; }
  header .workers {
    justify-content: center;
    background-color: white;
    width: 80px;
    height: 40px;
    color: #68cdd5;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    margin-left: 38px;
    margin-top: -18px; }
  header img {
    padding-right: 20px; }

.below {
  border-bottom: 1px solid whitesmoke;
  display: flex;
  width: 100%;
  height: 50px; }
  .below .box {
    position: relative;
    border-right: 1px solid antiquewhite;
    background: url("img12/xing 1.png") no-repeat center;
    background-position: 99% 20px;
    cursor: pointer;
    width: 33.33%;
    height: 50px;
    text-align: center;
    line-height: 50px; }
  .below .direction {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    list-style: none; }
  .below span {
    color: #6f8e8b; }

.box:hover .direction {
  display: block; }

main {
  padding-top: 105px; }

.Service-date {
  height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center; }
  .Service-date a {
    color: #999999;
    padding-left: 10px; }

.date-time {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .date-time .date-time-one {
    display: flex;
    align-items: center; }
  .date-time span {
    font-size: 14px;
    padding-left: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .date-time a {
    color: #fe6712;
    padding-right: 10px;
    white-space: nowrap; }

.address {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #999999; }
  .address a {
    padding-left: 10px;
    color: #999999; }

footer {
  margin: auto;
  max-width: 780px;
  min-width: 320px;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  align-self: center;
  background: #f8fafb;
  height: 50px; }

.footer_two {
  display: flex;
  width: 33.33%; }

.footer_three {
  height: 20px;
  margin-left: 65%;
  padding-top: 5px; }

.footer_tuo {
  margin-left: -25px;
  font-size: 13px;
  color: darkcyan;
  margin-top: 30px; }

.footer_four {
  display: flex;
  width: 33.33%;
  justify-content: center; }

.footer_five {
  height: 50px; }

.footer_six {
  height: 20px;
  margin-left: 10%;
  padding-top: 5px; }

.footer_ten {
  margin-left: -23px;
  font-size: 13px;
  margin-top: 30px; }

/*# sourceMappingURL=task012.css.map */
