body{
  margin: auto;
  max-width: 780px;
  min-width: 320px;
}
.flex-box-style-1 {
  display: flex;
  align-items: center;
}
header{
  width: 100%;
  margin: auto;
  max-width: 780px;
  min-width: 320px;
  position: fixed;
  top: 0;
  background: #f8fafb;
  .page-header{
    @extend .flex-box-style-1;
    justify-content: space-between;
    background-color: #68cdd5;
    height: 55px;
  }
  .employer{
    @extend .flex-box-style-1;
    justify-content: center;
    background-color: #6f8e8b;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    margin-left: -35px;
    margin-top: -18px;
  }
  .workers{
    @extend .flex-box-style-1;
    justify-content: center;
    background-color: white;
    width: 80px;
    height: 40px;
    color: #68cdd5;
    border-radius: 6px;
    position: absolute;
    z-index: 10000;
    margin-left: 35px;
    margin-top: -18px;
  }
  img{
    padding-right: 20px;
  }
}
.below{
  border-bottom: 1px solid #999;
  display: flex;
  width: 100%;
  height: 50px;
  .box{
    position: relative;
    border: 1px solid #999;
    background: url("img12/xing 1.png") no-repeat center;
    background-position: 99% 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    width: 33.33%;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  .direction{
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  span{
    color: #6f8e8b;
  }
}
.box:hover .direction {
  display: block;
}
main{
  background-color: #f0f0f0;
  padding: 105px 0 60px 0;
}
  .Service-date{
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    a{
      color: #999999;
      padding-left: 10px;
    }
  }
.date-time{
  @extend .flex-box-style-1;
  justify-content: space-between;
  .date-time-one{
    display: flex;
    align-items: center;
  }
  span{
    font-size: 14px;
    padding-left: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  a{
    color: #fe6712;
    padding-right: 10px;
    white-space: nowrap;
  }
}
.address{
  height: 40px;
  @extend .flex-box-style-1;
  padding-left: 20px;
  border-bottom: 1px solid #999999;
  a{
    padding-left: 10px;
    color: #999999;
  }
}
footer{
  margin: auto;
  max-width: 780px;
  min-width: 320px;
  width: 100%;
  position: fixed;
  bottom: 0;
  @extend .flex-box-style-1;
  justify-content: space-around;
  background-color: #f0f0f0;
  .footer-head{
    color: #5fc0cd;
  }
  .footer-me{
    color: #999999;
  }
}