
.flex-box-style-1 {
  display: flex;
  align-items: center;
}
@mixin one{
  height: 50px;
  border-bottom: 1px solid #C6C6C8;
}
body{
  max-width: 780px;
  min-width: 320px;
  margin: auto;
}

header{
  width: 100%;
  height: 50px;
  @extend .flex-box-style-1;
  justify-content: space-between;
  background-color: #68cdd5;
  color: white;
  max-width: 780px;
  min-width: 320px;
  position: fixed;
  top: 0;
  img{
    margin: 0 20px;
  }
  span{
    margin: 0 0 0 -20px;
  }
}
main {
  padding-top: 50px;
}
.head-box-jue{
  @extend .flex-box-style-1;
  height:200px;
  background: url("img/1.png") no-repeat ;
  background-size:100% 100%;

  img {
    width: 80px;
    height: 80px;
    padding: 0 20px;
  }
  .box-two{

    color: white;
    img {
      width: 20px;
      height: 20px;
      padding: 0;
    }
  }
}
.main-text-one{
  @include one;
  @extend .flex-box-style-1;
  span{
    border-left: 1.5px solid #68cdd5;
    margin-left: 13px;
    padding-left: 12px;
  }
}
.main-text-two{
  @include one;
  @extend .flex-box-style-1;
  margin-left: 20px;
  span{
    border-right: 1px solid #C6C6C8;
    padding-right: 10px;
    margin-left: 5px
  }
}
.main-text-three{
  @include one;
  @extend .flex-box-style-1;
  margin-left: 20px;
  .text-three{
    height: 25px;
    border-left: 1px solid #C6C6C8;
    margin-left: 10px;
  }
  .text-t{
    color: #fe6712;
  }
  a{
    color:#C6C6C8;
  }
  span{
    margin: 0 -10px 0 20px;
  }
}
.main-text-four{
  border-bottom: 1px solid #C6C6C8;
  @extend .flex-box-style-1;
  padding-left: 20px;
  min-height: 50px;
  .cui_five{
    min-width: 74px;
    border-right: 1px solid #C6C6C8;
    margin-right: 17px;
    height: 30px;
    line-height: 30px;
    color: #C6C6C8 ;
  }
}
footer{
  padding-top: 40px;
  width: 100%;

  .footer-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    max-width: 780px;
    min-width: 320px;
    background-color: white;
  }
  .footer-p{
    border: 1px solid#68cdd5;
    height: 47px;
    width: 45%;
    border-radius: 10px;
    @extend .flex-box-style-1;
    justify-content:center;
    color: #68cdd5;
  }
  .footer-o{
    height: 47px;
    width: 45%;
    background-color: #68cdd5;
    border-radius: 10px;
    @extend .flex-box-style-1;
    margin-left: 15px;
    justify-content:center;
    color: white;
  }
}