<div class="background">
<div class="container page">
        <p>后台登录</p>
    <form name="myForm">
        <!--$error
$error对象中保存着没有通过验证的验证器名称以及对应的错误信息。
$pristine
$pristine的值是布尔型的，可以告诉我们用户是否对控件进行了修改。
$dirty
$dirty的值和$pristine相反，可以告诉我们用户是否和控件进行过交互。
$valid
$valid值可以告诉我们当前的控件中是否有错误。当有错误时值为false，没有错误时值为true。
$invalid
$invalid值可以告诉我们当前控件中是否存在至少一个错误，它的值和$valid相反。
$touched
表单项是否被访问过，如果获得过焦点，在失去时该值为 true，与之相对的是 $untouched-->
    <div class="row input-box">
        <img src="img/00(1).png" height="32" width="32"/>
        <input id="account" onkeyup="this.value=this.value.replace(/[^\w_]/g,'');"
               type="text"  placeholder="请输入账号" name="account" ng-model="user.account" ng-minlength="3" ng-maxlength="9" required>
    </div>
        <!--检验提示信息-->
        <!--主要要用到模块ngMessages。这个东西需要script引用，且需要在js将这个模板注入-->
        <div class="error" ng-if="!myFrom.account.$pristine && myForm.account.$touched"ng-messages="myForm.account.$error" role="alert">
            <!--ng-messages里的myForm对应的当前的form的name值，
            ng-messages里myForm后面的name就是要校验的input的name的值了，
            最后的$error表示这个input数据不对就显示出来，可以在里面继续校验具体哪里不正确，
            比如这里的子元素上添加ng-message="minlength"，就是当input设置了ng-minlength后，
            输入的内容不满足设置的minlength，就显示minlength的提示信息。-->
            <div ng-message="minlength">至少3位</div>
            <div ng-message="maxlength">最多9位</div>
            <div ng-message="required">不能为空</div>
        </div>
    <div class="row input-box">
        <img src="img/00o (2).png" height="32" width="32"/>
        <input id="password" type="text" style="-webkit-text-security:disc"  placeholder="请输入密码"onkeyup="this.value=this.value.replace(/[^\w_]/g,'');"
               placeholder="请输入账号" name="passwords" ng-model="user.passwords" ng-minlength="6" ng-maxlength="15" required>
    </div>
        <!--这个是一种方法，不需要模块ngMessages-->
        <!--$error对象。它包含当前表单的所有验证内容，以及它们是否合法的信息。用下面的语法访问这个属性-->
        <div class="error" ng-if="!myFrom.passwords.$pristine && myForm.passwords.$touched">
            <!--ng-show指令判断$error对象属性值的方法来向用户展示表单数据输入不合法的提示消息-->
            <div ng-show="myForm.passwords.$error.minlength">至少6位</div>
            <div ng-show="myForm.passwords.$error.maxlength">最多15位</div>
            <div ng-show="myForm.passwords.$error.required">不能为空</div>
        </div>
    <p class="hint" id="hint"></p>
    <!--<button type="button" class="but" onclick="login()">登录</button>-->

    <div id="button" class="row but" type="button" onclick="login()">登录</div>
    <div>
        <a href="#!/view2">这是去第2个 页面</a>
    </div>
    </form>
</div>


</div>